/*
 * Customization Variables
 */

$navbar-link-color: #7900E8;
$bg-color: #FFFFED;
$image-size: 175px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
